BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

PointerAlignment: Left
BreakBeforeBraces: Attach

AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SpaceBeforeCpp11BracedList: false
InsertBraces: false

IndentPPDirectives: None

AllowShortCaseLabelsOnASingleLine: false
