Checks: >
  -*,
  readability-identifier-naming

CheckOptions:

  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  - key: readability-identifier-naming.VariableCase
    value: lower_case

  - key: readability-identifier-naming.ParameterCase
    value: lower_case

  - key: readability-identifier-naming.MemberCase
    value: lower_case

  - key: readability-identifier-naming.PrivateMemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _

  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_

  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: lower_case

  # For enum class
  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  # For enum class
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase

  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.TypedefSuffix
    value: _t

  - key: readability-identifier-naming.NamespaceCase
    value: lower_case

  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
